* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.soundwrapper {
    display: flex;
    padding: 10px;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

  
button {
    background: url(../img/button_normal.webp) no-repeat;
    border: 0;
    cursor: pointer;
    height: 94px;
    width: 94px;
    position: relative;
    border-radius: 50%;
    margin-bottom: 100px;
}
  
button:active {
    background: url(../img/button_down.webp) no-repeat;
}
  
/* stijlen voor de knoppen */
  
.sound__button {
    border-radius: 50%;
    height: 94px;
    width: 94px;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
}
  
/* stijlen voor zoekbalkje */
  
#search-input {
    display: block;
    margin: 1rem auto;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.paragraphs {
    margin-top: 100px;
    pointer-events: none;
}
