* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
.soundwrapper {
    align-items: center;   
    display: flex;
    flex-direction: column;
    padding: 10px;
}
 
.sound {
    height: 94px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 94px;
}
.sound__button {
    background: url(../img/button_normal.webp) no-repeat;
    border: 0;
    cursor: pointer;
    height: 94px;
    left: 0;
    position: absolute;
    top: 0;
    width: 94px;
}
 
.sound__button:active {
    background: url(../img/button_down.webp) no-repeat;
}
 
.sound__background {
    border-radius: 50%;
    height: 94px;
    left: 0;
    position: absolute;
    top: 0;
    width: 94px;
}
 

/* stijlen voor de knoppen */
button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}


/* stijlen voor het zoekvak */
#search-input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

